
.menu {
    background-color: rgb(134, 38, 38);
}
.menu > ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 20%;
    margin-left: 20%;
}

.menu > ul > li {
    flex: 1;
    transition: flex 200ms;
}

.menu > ul > li > a > div {
    display: flex;
    background-color: rgb(28, 51, 151);
    
    height: 50px;
    justify-content: center;
    align-items: center;
    
}

.menu > ul > li > a {
    text-decoration: none;
    color: white;

}

.menu > ul > li:hover{
    flex: 2;
}