#paywall {
    display: flex;
    justify-self: center;
    margin-top: 200px;
    
    outline-style: outset;
    outline-width: 2px;
    padding: 10px;
}

#paywallimage {
    
    width: 300px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#paywallimage img {
    width: 150px; /* Justera storleken om det behövs */
    animation: spin 2s linear infinite;
}
#paywallimage > div {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: calibri;
}

#paywallenterinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#user {
    display: flex;
    flex-direction: column;
}

#password {
    display: flex;
    flex-direction: column;
}

#personimage {
    width: 10%;
    
}

#personimage {
    width: min-content;
    height: 100%;
}

#personimage > img {
    height: 100%;
}

.personbox {
    display: flex;
    width: 50%;
    height: 200px;
    
    background-color: bisque;
    
    
}

#personinfo{
    display: flex;
    flex-direction: column;
}

#name {
    font-weight: bolder;
    font-size: 40px;
}

#title {
    font-style: italic;
    font-size: 20px;
}


